h2{
    font-family: fantasy;
    font-size: 50px;
    color: cornflowerblue;
}

th{
    font-weight: 900;
    font-size: 25px;
    background-color: cadetblue;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

table{
    border-collapse: collapse;
    border-color: darkblue;
    border-style:solid;
    background-color: aliceblue;
    
    font-family:cursive;
    font-size: 16px;
}

h3{
    font-family: fantasy;
    font-size: 30px;
    color: steelblue;
}

p{
    font-family: cursive;
    font-size: 25px;
}